<footer>
    <div class="logo">
        <img src="../../assets/img/header/logo-transparent-svg.svg" alt="">
        <a href="#" (mouseover)="showUnderline()" (mouseleave)="hideUnderline()"
            [class.a-margin]="showunderline">Impressum</a>
        <div [class.underline]="showunderline">

        </div>
    </div>

    <p>&copy; Stefan Boskamp 2023</p>

    <div style="display: flex; gap: 42px;">
        <div class="link">
            <a href="https://github.com/Bossi1979">
                <img src="../../assets/img/ref-links/github_button.png" alt="">
            </a>
        </div>
        <div class="link">
            <a href="#contact">
                <img src="../../assets/img/ref-links/email_button.png" alt="">
            </a>
        </div>
        <div class="link">
            <a href="https://www.linkedin.com/in/stefan-boskamp-60b563276/">
                <img src="../../assets/img/ref-links/linkedin_button.png" alt="">
            </a>
            
        </div>
    </div>

</footer>