<div style="position:absolute; z-index: -2; left: 0px; margin-top: -359px;">
    <img src="../../assets/img/shadows/shadow-purple4.png" class="shadow-purple4">
</div>

<div class="arrow-container">
    
    <div (mouseover)="changeImage()">
        <img src="../../assets/img/up-arrow/go-up-button.png" *ngIf="!changeImg">
    </div>
    <div (mouseleave)="returnChangeImg()" (click)="goToMyHeadline()">
        <img src="../../assets/img/up-arrow/go-up-button-green.png" *ngIf="changeImg">
    </div>
</div>
