.mask {
    position: absolute;
    // top: 298.6px;
    overflow: hidden;
    top: 11.7361vw;
    // position: relative;
    // top: -505.6px;
    

    img {
        object-fit: cover;
        width: 104vw;
        transform: rotate(3deg);
    }
}

.vectorC {
    position: absolute;
    width: 88vw;
    height: 971.56px;
    margin-top: -3vw;
    margin-right: 0vw;
    margin-left: 12vw;
    // background-color: #161F31;

    background: linear-gradient(165.69deg, #1A2743 37.75%, #27334B 43.25%, #141D2F 70.18%);
}



@media screen and (max-width: 1140px) {
    mask {
        top: 18.7361vw;

        img {
            width: 117vw;
        }
    }
}

@media screen and (max-width: 930px) {
    mask {
        top: 20.7361vw;

        img {
            width: 113vw;
        }
    }
}