.mask {
    position: absolute;
    // top: 298.6px;
    overflow: hidden;
    top: 11.7361vw;
    // position: relative;
    // top: -505.6px;
    width: 100%;
    

    img {
        object-fit: cover;
        width: 104vw;
        transform: rotate(3deg);
    }
}

.vectorC {
    position: absolute;
    width: 88vw;
    height: 971.56px;
    margin-top: -3vw;
    margin-right: 0vw;
    margin-left: 12vw;
    // background-color: #161F31;

    background: linear-gradient(165.69deg, #1A2743 37.75%, #27334B 43.25%, #141D2F 70.18%);
}


@media screen and (max-width: 1180px) {
    .mask {
        top: 9.7361vw !important;

    }
}


@media screen and (max-width: 768px) {
    .mask {
        top: -71.7361vw !important;

    }
}

@media screen and (max-width: 672px) {
    .mask {
        top: -72.7361vw !important;

    }
}

@media screen and (max-width: 620px) {
    .mask {
        top: -82.7361vw !important;

    }
}


@media screen and (max-width: 620px) {
    .mask {
        top: -87.7361vw !important;

    }
}

@media screen and (max-width: 390px) {
    .mask {
        top: -89.7361vw !important;

    }
}

@media screen and (max-width: 350px) {
    .mask {
        top: -92.7361vw !important;

    }
}