<div class="refs-container">
    <div class="refs">
        <div class="line"></div>
        <div>
            <img src="../../assets/img/ref-links/github_button.png" alt="">
        </div>
        <div>
            <img src="../../assets/img/ref-links/email_button.png" alt="">
        </div>
        <div>
            <img src="../../assets/img/ref-links/linkedin_button.png" alt="">
        </div>
        <span (click)="goToContact()">info@stefan-boskamp.de</span>
    </div>
    <div class="vertical-container d-none d-md-flex">
        <div>
            <img src="../../assets/img/ref-links/arrow_down.svg" alt="">

            <span>Scroll down</span>
        </div>


    </div>
</div>