.refs-container {
    display: flex;
    justify-content: space-between;
    width: 96.5vw;
    position: relative;

    .refs {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 42px;

        .line {
            width: 100px;
            height: 0px;
            border: 4px solid #9747FF;
        }

        span {
            font-size: 23px;
            font-weight: 400;
            line-height: 27.6px;
            color: white;

            &:hover {
                cursor: pointer;
            }
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 42px;
            height: 42px;

            img {
                width: 30px;
                height: 29.26px;

                &:hover {
                    width: 41.01px;
                    height: 40px;
                    gap: 31px;
                    cursor: pointer;
                }
            }

        }

    }

    .vertical-container {
        position: absolute;
        top: -61px;
        right: 0px;
        color: white;

        div {
            display: flex;
            transform: rotate(-90deg);
            gap: 7px;

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 23px;
                line-height: 120%;
            }
        }

    }




}

@media screen and (min-width: 1441px) {
    .refs {
        gap: 2.92vw !important;

        span {
            font-size: 1.6vw !important;
        }

        div {
            img {
                height: 2.1vw !important;
                width: 2.1vw !important;

                &:hover {
                    width: 2.7778vw !important;
                    height: 2.7778vw !important;
                    gap: 31px;
                    cursor: pointer;
                }
            }

        }

    }

    .vertical-container {
        top: -4.24vw !important;

        div {
            gap: 0.4861vw !important;

            span {
                font-size: 1.59722vw !important;
            }
        }


    }
}

@media screen and (max-width: 900px) {
    .refs {
        gap: 30px !important;

        span {
            font-size: 22px;
        }
    }

}

@media screen and (max-width: 770px) {
    .vertical-container {
        display: none !important;
    }

    span {
        display: none !important;
    }

    img {
        width: 30px;
        height: 29.26px;

        &:hover {
            width: 41.01px;
            height: 40px;
            gap: 31px;
            cursor: pointer;
        }
    }


}


@media screen and (max-width: 620px) {

    .refs {
        gap: 30px !important;

        .line {
            width: 50px !important;
        }

    }

}