<div style="display: flex; justify-content: space-between; width: 96.5vw; position: relative;">
    <div class="refs">
        <div class="line"></div>
        <div>
            <img src="../../assets/img/Neuer Ordner/Github button.png" alt="">
        </div>
        <div>
            <img src="../../assets/img/Neuer Ordner/Email button.png" alt="">
        </div>
        <div>
            <img src="../../assets/img/Neuer Ordner/Linkedin button.png" alt="">
        </div>



        <span>Stefan-Boskamp@kabelmail.de</span>
    </div>
    <div style="color: white; position: absolute; top:-61px; right: 0px;">
        <div style="transform: rotate(-90deg); display: flex; gap: 7px;">
            <img src="../../assets/img/Neuer Ordner/arrow_down.svg" alt="">

            <span style="font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;">Scroll down</span>
        </div>


    </div>
</div>