.portraitFrame {
    position: relative;
    aspect-ratio: 705/730;
    background-image: url('../../assets/img/portait/photo_shadows.png');
    background-position: 65% -131%;
    background-size: 111%;
    background-repeat: no-repeat;
    z-index: 1;

    img {
        height: 100%;
        width: 82.2%;
        margin-left: 46px;
        object-fit: contain;
    }
}

.vectorC {
    position: absolute;
    width: 88vw;
    height: 971.56px;
    margin-top: -3vw;
    margin-right: 0vw;
    margin-left: 12vw;
    background: linear-gradient(165.69deg, #1A2743 37.75%, #27334B 43.25%, #141D2F 70.18%);
}

.mask {
    position: relative;
    overflow: hidden;
    top: 20.7361vw;

    img {
        object-fit: cover;
        width: 108vw;
    }
}

@media screen and (max-width:768px) {
    .portraitFrame {
        aspect-ratio: 705/730;
        background-position: center center;
        display: flex;
        justify-content: center;
        background-size: 111%;
        background-repeat: no-repeat;
        z-index: 1;

        img {
            height: 100%;
            width: 82.2%;
            margin-left: unset;
            object-fit: contain;
        }
    }
}