.project-example {
    display: flex;
    justify-content: flex-end; 
    margin: 116px 100px;
    color: white;

    .img-div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 620px;
        height: 339px;
        order: 1;

        img {
            max-width: 520px;
            object-fit: contain;
        }
    }

    .descriptions-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 513px;
        gap: 15px;
        order: 2;

        h5 {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 120%;
            color: #9747FF;
        }

        h6 {
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 120%;
            color: #70E61C;
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #FFFFFF;
        }

        .btn-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 0px;
            gap: 86px;

            .btn-live {
                width: 152px;
                height: 58px;
                background: #9747FF;
                border-radius: 10px;
                color: white;
                font-style: normal;
                font-weight: 400;
                font-size: 23px;
                line-height: 120%;

                &:hover {
                    background-color: #70E61C;
                }

                &:active {
                    animation-name: btn-animation;
                    animation-duration: 0.1s;
                    animation-delay: 0.1s;
                    color: white;
                    background-color: #70E61C;
                    gap: 0px;
                }
            }

            .btn-git {
                width: 137px;
                height: 58px;
                border: 1px solid #70E61C;
                border-radius: 10px;
                background: #141D2F;
                color: white;
                font-style: normal;
                font-weight: 400;
                font-size: 23px;
                line-height: 120%;

                &:hover {
                    background-color: #70E61C;
                }

                &:active {
                    animation-name: btn-animation;
                    animation-duration: 0.1s;
                    animation-delay: 0.1s;
                    color: white;
                    background-color: #70E61C;
                    gap: 0px;
                }
            }
        }
    }

    .order {
        order: 3;
    }
}

.direction-start {
    justify-content: flex-start !important;
    text-align: right;
}

.direction-end {
    justify-content: flex-end !important;
}

.margin-correction {
    margin: 116px 100px 16px 100px !important;
}

@keyframes btn-animation {
    0% {
        color: black;
        background-color: white;
    }

    100% {
        color: white;
        background-color: #70E61C;
        gap: 0px;
    }
}


@media screen and (max-width:1400px) {
    .img-div {
        width: 43.0555vw !important;
        height: 23.5416vw !important;
        margin-right: 15px !important;
        margin-left: 15px !important;

        img {
            max-width: 36.1111vw !important;
            object-fit: contain;
        }
    }

    .descriptions-container {
        width: 35.625vw !important;
        gap: 15px;
    }
}

@media screen and (max-width:1000px) {
    .project-example {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
        gap: 20px;
    }

    .img-div {
        order: 1 !important;
        width: 559px !important;
        height: unset !important;

        img {
            max-width: unset !important;
            width: calc(98vw - 200px);
            object-fit: contain;
        }
    }

    .descriptions-container {
        order: 2 !important;
        justify-content: center !important;
        align-items: center !important;
        width: calc(98vw - 200px) !important;
        text-align: center;
    }

    .btn-container {
        width: calc(98vw - 200px);
        gap: unset !important;
        justify-content: space-between !important;
    }
}

@media screen and (min-width:1441px) {
    .img-div {
        width: 43.0555vw !important;
        height: 23.5416vw !important;

        img {
            max-width: 36.1111vw !important;
        }
    }
    .descriptions-container {
        width: 35.625vw !important;
        gap: 1.04167vw !important;

        h5 {
            font-size: 2.2222vw !important;
        }

        h6 {
            font-size: 1.5972vw !important;
        }

        p {
            font-size: 1.1111vw !important;
        }

        .btn-container {
            gap: 5.972vw !important;

            .btn-live {
                width: 10.5556vw !important;
                height: 4.0277vw !important;
                font-size: 1.5972vw !important;
            }

            .btn-git {
                width: 9.5138vw !important;
                height: 4.0277vw !important;
                font-size: 1.5972vw !important;
            }
        }
    }
}