.myHeadline {
    display: flex;
    // padding-top: 187.97px;
    justify-content: space-between;
    // border: 2px red solid; 
    // height:172px; 
    // width: 100%;
    margin-top: 11.05vw;
    // margin-left: -135px;
    margin-left: -20.5%;
    font-size: 5.44vw;
    

    img {
        object-fit: cover;
        // margin-right: 8px;
    }
}

.iAm {
    font-style: normal;
    font-weight: 400;
    font-size: 88%;
    line-height: 120%;
    color: white;
    // rotate: -90deg;
    transform: rotate(-90deg);
    display: flex;
    margin-right: -65px;
}

.name {
    font-style: normal;
    font-weight: 700;
    font-size: 5.44vw;
    line-height: 120%;
    color: white;
}

.job {
    font-style: normal;
    font-weight: 400;
    // font-size: 44px;
    font-size: 79%;
    line-height: 120%;
    color: #9747FF;
}

.letsTalkButton {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 4.0278vw;
    margin-top: 3.0555vw;
    
    button {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-left: -13vw;
        color: white;
        background-color: #70E61C;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 1.8vw;
        z-index: 4;

        &:hover {
            background-color: #9747FF;
            padding: 20px 40px;
            gap: 10px;
        }

        &:active {
            animation-name: btn-animation;
            animation-duration: 0.1s;
            animation-delay: 0.1s;
            color: white;
            background-color: #70E61C;
            padding: 15px 30px;
            gap: 0px;
            
        }
    }

    @keyframes btn-animation{
        0%{
            color: black;
            background-color: white;
        }
        100%{
           
            color: white;
            background-color: #70E61C;
            padding: 15px 30px;
            gap: 0px;
        }
    }
}