<div class="skills-container">
    <div class="bages-container">
        <div *ngFor="let bage of skillsBages; let i = index" class="bage-div">
            <div (mousemove)="mouseMove(i)" [class.animation]="skillsBages[i].animate">
                <img src={{bage.icon}} alt="" class="img-bage">
            </div>
            <span>{{bage.text}}</span>
        </div>
    </div>

    <div class="button-div" id="btn-mobile">
        <button>Get in touch</button>
    </div>
    
    <div class="mySkills">
        <div class="header-outer">
            <div class="header-inner">
                <h4>My skills</h4>
            </div>
            <div class="line"></div>
        </div>
        
        <p>I have gained experience in building projects with various front end 
            technologies and concepts.</p>
        <div class="button-div" id="btn-n-mobile">
            <button>Get in touch</button>
        </div>
        
    </div>


</div>

