.skills-container{
    display: flex;
    justify-content: space-between;
}


.bages-container {
    display: flex;
    width: 48.75vw;
    margin-top: 255px;
    flex-direction: row;
    gap: 122.5px;
    margin-left: 100px;
    flex-wrap: wrap;
    text-align: center;

    .bage-div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;

            .img-bage {
                position: absolute;
                width: 73px;
                height: 60px;
                object-fit: contain;
            }

        }

        span {
            display: flex;
            justify-content: center;
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 120%;
            color: white;
            width: 73px;
        }
    }

    @keyframes jump {
        0% {
            top: 0px;
        }

        50% {
            top: -11px;
        }

        100% {
            top: 0px;
        }
    }

    .animation {
        background-color: bisque;
        animation-name: jump;
        animation-duration: 125ms;
    }
}

.mySkills {

    display: flex;
    // justify-content: center;
    flex-direction: column;
    width: 44vw;
    margin-top: 195px;
    color: #FFFFFF;
    justify-content: center;
    align-items: flex-end;

    .header-outer{
        display: flex;
        justify-content: space-between; 
        align-items: center;

        .line{ 
            width: 58px; 
            height: 0px;
            border: 4px solid #9747FF;
        }
        
        .header-inner{
            width: 40vw;

            h4 {
                margin-block-start: 0px;
                margin-block-end: 0px;
                font-style: normal;
                font-weight: 700;
                font-size: 79px;
                line-height: 120%;
                text-align: right;
                margin-right: 42px;
            }
        }
        
    }

    p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        /* or 19px */
        margin-right: 100px;
        margin-top: 34px;
        margin-bottom: 57px;
        text-align: right;

    }

    .button-div{
        display: flex; 
        justify-content: flex-end;
        align-items: flex-start;
        min-height: 100px; 
        // margin-left: 200px;
        margin-right: 100px;
         

        // button {
        //     display: flex;
        //     flex-direction: row;
        //     justify-content: center;
        //     align-items: center;
        //     color: white;
        //     background-color: #70E61C;
        //     box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        //     border-radius: 10px;
        //     padding: 15px 30px;
        //     font-size: 23px;
        //     &:hover {
        //         background-color: #9747FF;
        //         padding: 20px 40px;
        //         gap: 10px;
        //     }
        //     &:active {
        //         animation-name: btn-animation;
        //         animation-duration: 0.1s;
        //         animation-delay: 0.1s;
        //         color: white;
        //         background-color: #70E61C;
        //         padding: 15px 30px;
        //         gap: 0px;
        //     }
    
        // }

    }
}

.button-div{
    display: flex; 
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 100px; 
    margin-right: 100px;
     

    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #70E61C;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        padding: 15px 30px;
        font-size: 23px;
        &:hover {
            background-color: #9747FF;
            padding: 20px 40px;
            gap: 10px;
        }
        &:active {
            animation-name: btn-animation;
            animation-duration: 0.1s;
            animation-delay: 0.1s;
            color: white;
            background-color: #70E61C;
            padding: 15px 30px;
            gap: 0px;
        }

    }
}

#btn-mobile{
    display: none;
}

@keyframes btn-animation{
    0%{
        color: black;
        background-color: white;
    }
    100%{
        color: white;
        background-color: #70E61C;
        padding: 15px 30px;
        gap: 0px;
    }
}

@media screen and (max-width:1100px){
    .skills-container{
        display: flex;
        flex-direction: column;
    }

    .mySkills{
        order: 1;
        width: 100% !important;

        p{
            margin-left: 100px;
        }

        .header-outer{
            justify-content: flex-end;

            .header-inner{
                width: unset;

            }
        }
    }

    .bages-container{
        order: 2;
        width: calc(100% - 200px);
        margin-right: 100px;
        justify-content: space-between;
        margin-top: 85px;
    }

    #btn-mobile{
        display: flex !important;
        margin-left: 100px;
        justify-content: center;
        margin-top: 57px;
        order: 3;
    }

    #btn-n-mobile{
        display: none !important;
    }
}

@media screen and (min-width:1401px){
    .bages-container {
        gap: 8.5069vw;
        margin-top: 17.7083vw;
    
        .bage-div {
            gap: 10px;
    
            div {
    
                .img-bage {
                    width: 5.069vw;
                    height: 4.16667vw;
                }
    
            }
    
            span {
                font-size: 1.11111vw;
                width: 5.069vw;
            }
        }
    } 
    
    .mySkills {
        width: max-content;
        margin-top: 13.542vw;
    
        .header-outer{

            .line{ 
                width: 4.02777778vw; 
                height: 0px;
                border: 4px solid #9747FF;
            }
            
            .header-inner{
                width: 40vw;
    
                h4 {
                    font-size: 5.4861vw;
                    margin-right: 1.5972vw;
                }
            }
            
        }
    
        p {
            font-size: 1.1111vw;
            line-height: 120%;
            /* or 19px */
            margin-right: 100px;
            margin-top: 34px;
            margin-bottom: 57px;
            text-align: right;
    
        }
    
        .button-div{
            min-height: 6.944444vw;

            button {
                padding: 1.042vw 2.0834vw;
                font-size: 1.5972vw;
                &:hover {
                    background-color: #9747FF;
                    padding: 1.3888vw 2.7777vw;
                    gap: 10px;
                }
                &:active {
                    animation-name: btn-animation;
                    animation-duration: 0.1s;
                    animation-delay: 0.1s;
                    color: white;
                    background-color: #70E61C;
                    padding: 1.042vw 2.0834vw;
                    gap: 0px;
                }
        
            }
    
        }
    }
}

@media screen and (max-width:620px) {
    h4{
    font-size: 12.74193548vw !important;
    }

    .line{
        width: 50px !important;
    }

    .bages-container{
        width: calc(100% - 100px);
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
}

