<div class="main-container">
    <app-header id="myHeadline"></app-header>

    <div class="headline-containers">
        <app-portait class="portait-container"></app-portait>
        <app-my-headline class="headline-container"></app-my-headline>
        <app-bg-shapes class="shape-container"></app-bg-shapes>
    </div>

    <div class="references-container">
        <app-reference-links></app-reference-links>
    </div>

    <div id="about-me" class="about-me-container">
        <app-about-me></app-about-me>
    </div>

    <app-skills id="skills"></app-skills>

    <hr id="portfolio" #elementRef>

    <app-portfolio-headlines></app-portfolio-headlines>

    <app-projects></app-projects>

    <hr class="hr-spacer" id="contact">

    <app-contact id="contact"></app-contact>

    <app-up-arrow></app-up-arrow>

    <app-footer></app-footer>

    <app-impressum></app-impressum>

</div>