<div class="main-container">
    <!-- <div class="shadows-container">
        <app-shadows></app-shadows>
    </div> -->

    <!-- <app-shadows></app-shadows> -->

    <app-header id="myHeadline"></app-header>

    <div class="headline-containers">
        <app-portait class="portait-container" ></app-portait>
        <app-my-headline class="headline-container"></app-my-headline>
        <app-bg-shapes class="shape-container"></app-bg-shapes>
    </div>

    <div class="references-container">
        <app-reference-links></app-reference-links>
    </div>

    <div id="about-me" class="about-me-container">
        <app-about-me></app-about-me>
    </div>

    <app-skills id="skills"></app-skills>

    
    
    <hr id="portfolio" #elementRef>

    <app-portfolio-headlines ></app-portfolio-headlines>
    
    <app-projects></app-projects>

    <hr class="hr-spacer" id="contact">

    

    <app-contact id="contact"></app-contact>

    <app-up-arrow></app-up-arrow>

    <!-- <div style="position:absolute; z-index: -2; left: 0px; height: 291px; overflow: hidden;">
        <img src="../../assets/img/shadows/shadow-purple4.png" class="shadow-purple4">
    </div> -->
    

    <app-footer></app-footer>
    
</div>