<div style="position:relative">

    <app-header></app-header>

    <div style="display: flex; background-color: #141D2F; position: relative;">
        <app-portait style="width: 50.7vw;"></app-portait>
        <app-my-headline style="width: 49.3vw; margin-right: 100px;"></app-my-headline>
        <app-bg-shapes style="position:absolute; width: 98vw;"></app-bg-shapes>

    </div>

    <div style="display: flex; position: relative; z-index: 3;">
        <app-reference-links></app-reference-links>
    </div>

    <div style="display: flex; position: relative; z-index: 3;">
        <app-about-me></app-about-me>
    </div>

    <app-skills></app-skills>

    <div style="position:absolute; top: 52.639vw;width: 100%;">
        <app-shadows></app-shadows>
    </div>
    
    <app-portfolio-headlines></app-portfolio-headlines>
    <app-projects></app-projects>
    <app-contact></app-contact>
    

</div>