.main-container{
    position: relative;

    .headline-containers{
        display: flex; 
        position: relative;
        background-color: #141D2F;
        z-index: -2;
        
        .portait-container{
            width: 50.7vw;
        }

        .headline-container{
            width: 49.3vw; 
            margin-right: 100px;
        }

        .shape-container{
            position:absolute; 
            width: 100%;
        }   
    }

    .references-container{
        display: flex; 
        position: relative; 
        z-index: 3;
    }

    .about-me-container{
        display: flex; 
        position: relative; 
        z-index: 3;
    }

    .shadows-container{
        position:absolute; 
        // top: 52.639vw;
        width: 100%;
        height: 100%;
        top: 0px;
        overflow: hidden;
        z-index: -1;
    }

    .hr-spacer{
        height: 100px;
    }
}

hr{
    opacity: 0;
}