<div class="impressum" (click)="closeImpressum()" *ngIf="impressumShown()">
    <div class="centering-container">
        <h1>Imprint</h1>
        <h4>Information acc. &sect; 5 TMG</h4>
        <p>Stefan Boskamp<br />
            Katharina-Geisler-Stra&szlig;e 10<br />
            85356 Freising</p>
        <h2>Kontakt</h2>
        <p>Telefon: +49 (0) 1787215886<br />
            E-Mail: info@stefan-boskamp.de</p>
        <p>Quelle: <a href="https://www.e-recht24.de">eRecht24</a></p>
    </div>
</div>