.impressum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 109px;
    left: 0px;
    background: rgba(20, 29, 47, 1);
    color: white;
    padding-bottom: 109px;
    z-index: 11;

    .centering-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        max-width: 320px;
    }
}